.w3-container{
    margin: 50px;
    width: 50%;
    position: relative;
    left: 27%;
    border: 1px solid red;
    border-radius:  5px;
}

form{
    padding: 30px;
}
label{
    font-family: monospace;
    letter-spacing: 1px;
    font-weight: bold;
}


